@import './base.css';
@import "tailwindcss";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}




@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    flex-direction: column;
  }

  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}